body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
.bgImg {
    border: 0;
    padding: 0; 
    width: 100%;
    height: 700px;
    overflow: auto;
    /* overflow: scroll; */
    background-image: url('../img/bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.grid-container {
    height: 54.95%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* border: 2px solid blue; */
    margin: 37.7% 3.5% 0% 3.8%;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;;
    font-size: 30px;
    text-align: center;
    /* background-position: 50% 50%;
    background-size: 80%;
    background-repeat: no-repeat; */
    cursor: pointer;
}

.grid-item:hover > img { 
    /* content: url('../img/random01.png'); */
    /* background: radial-gradient(rgba(131, 131, 131, 0.363), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));  */
    /* background-color: rgba(185, 185, 185, 0.363); */
}
.grid-item > img {
    height: 100%;
    margin: 0px auto;
}